@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$atom-dark: #282C34;
$atom-red: #E06C75;
$atom-gold: #E5C07B;
$atom-orange: #D19A66;
$atom-purple: #C678DD;
$atom-grey: #ABB7BF;
$atom-green: #98C379;
$atom-blue: #61AFEF;
$atom-darker: #21242B;

.tag-symbol { color: $atom-grey; }
.tag-type { color: $atom-red; }
.tag-content {color: $atom-grey;}
.purple { color: $atom-purple; }
.orange { color: $atom-orange; }
.gold { color: $atom-gold; }
.blue { color: $atom-blue;}
.grey { color: $atom-grey; }
.red { color: $atom-red; }
.green { color: $atom-green; }
.bg-red {
    background-color: $atom-red;
    padding: 0 10px 0 10px;
    color: white;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}



*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
    .navbar{
        position: fixed;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem;
        right: 3%;
        top: 20%;
        transform: translateY(-50%);
        .nav-item {
            color: $atom-grey;
            text-align: end;
            text-decoration: none;
            font-size: 1.5rem;
            &:hover {
                color: $atom-red;
            }
        }
    }

// SECTION
    .introduction-slide {
        .introduction{
            font-size: 3.5rem;
        }
    }

// SECTION

    .aboutme-slide {
        position: relative;
        .section-open, .section-close {
            font-size: 3.5rem;
            position: absolute;
        }

        .section-open{
            top: 3%;
            left: 3%;
        }

        .section-close {
            bottom: 3%;
            left: 3%;
        }

        .aboutme {
            font-size: 2rem;
        }

    }

// SECTION
    .skills {
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;

        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


        .section-open, .section-close {
            font-size: 3.5rem;
            position: absolute;
        }

        .section-open{
            top: 3%;
            left: 3%;
        }

        .section-close {
            bottom: 3%;
            left: 3%;
        }

        .skill-group {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
            .skill {
                font-size: .8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;

            }

        }
        
    }
    
}

.section {
    background-color: $atom-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px 0 150px;
    width: 100vw;
    height: 100vh;
}

.tab {
    padding-left: 4em;
}

.img {
    width: 50px;
    height: 50px;
}

.ctr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}