@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Code+Pro&display=swap');

// Variables 
$atom-contrast: #21252b;
$atom-background: #282c34;
$atom-text: #abb2bf;

$atom-red: #e06c75;
$atom-purp: #c679dd;
$atom-yellow: #e5c17c;
$atom-orange: #d19a66;
$atom-green: #98c379;
$atom-cyan: #57b6c2;


.grey { color: $atom-text;}
.red { color: #e06c75;}
.purp { color: $atom-purp;}
.orange {color: $atom-orange;}
.yellow {color: $atom-yellow;}
.green { color: $atom-green;}
.cyan { color: $atom-cyan;}
.hl-red {
    background-color: $atom-red;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inconsolata', monospace;

}

*, *::before, *::after {
    box-sizing: inherit;
}

.content {
    padding: 0 2vw;
    padding-bottom: 5vh;
    background-color: $atom-contrast;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .toolbar {
        display: flex;
        align-items: center;
        width: 100%;

        > img {
            width: 65px;
        }

        > ul {
            display: flex;
            width: 700px;
            height: 100%;
            justify-content: space-between;
            align-items: center;

            > li {
                list-style: none;
                text-decoration: none;
                color: $atom-text;
                font-size: 2rem;
                height: 70%;
                display: flex;
                padding: 10px 25px;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #383d48;
                    border-radius: 25px;
                }
            }
        }
    }

    // Navigation Bar
    .navbar {
        display: flex;
        width: 100%;

        > a{
            text-decoration: none;
        }
    
        .nav-item {
            border-right: black 1px solid;
            padding: 10px 25px;
            display: flex;

            .nav-img {
                width: 65px;
                height: 65px;
            }

            .nav-title {
                color: $atom-text;
            }

            &:hover {
                background-color: $atom-background;
                cursor: pointer;
            }
        }
    }

    // Code section
    .code-section {
        background-color: $atom-background;
        flex-grow: 1;
        overflow-y: scroll;
        
        scroll-behavior: smooth;

        &::-webkit-scrollbar {display: none;}

        -ms-overflow-style: none;
        scrollbar-width: none;
        
        .wrapper {
            height: 200%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            .slide {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    
        
    }
    
}

.h2 { font-size: 2rem}
.h1 { font-size: 2.5rem;}
